.santete {
    color: crimson;
}

.santi {
    color: blue;
}

html {
    background-color: darkslategray;
}

html {
    background-color: darkslategray;
}

html {
    background-color: darkslategray;
}
.santete {
    font-size:
}

h1 {
    margin: 10px;
}

html h1 {
    background-color: blue;
    display: inline-block;
    padding-left: 50px;
    text-align: center;
    border-radius: 10px;
    border: 10 px solid red;
}
