.santete {
    color: crimson;
}

.santi {
    color: blue;
}

html {
    background-color: darkslategray;
}

html {
    background-color: darkslategray;
}

html {
    background-color: darkslategray;
}
